build/
build7/
/FeOS/
/testbin/
/sdk/lib/
/sdk/bin/fxe2tool
/sdk/source/FEOSBASE/*
!/sdk/source/FEOSBASE/Makefile
/sdk/source/FEOSSTDIO/*
!/sdk/source/FEOSSTDIO/Makefile
/sdk/source/FEOSPOSIXEMU/*
!/sdk/source/FEOSPOSIXEMU/Makefile
/sdk/source/FEOSDSAPI/*
!/sdk/source/FEOSDSAPI/Makefile
/sdk/source/FEOSARM7/*
!/sdk/source/FEOSARM7/Makefile
/sdk/source7/FEOS7/*
!/sdk/source7/FEOS7/Makefile
*.exe
*.nds
*.elf
*.fx2
*.a