build/
/sdk/build7/
/sdk/build_dbg/
/sdk/build_cxx/
/kernel/build_dbg/
/apps/*
!/apps/unixtools/
!/apps/cmdprompt/
!/apps/stats/
!/apps/tcpcmd/
/FeOS/
/testbin/
/sdk/lib/
/sdk/bin/fxe2tool
/sdk/bin/fartool
/sdk/source/FEOSBASE/*
!/sdk/source/FEOSBASE/Makefile
/sdk/source/FEOSSTDIO/*
!/sdk/source/FEOSSTDIO/Makefile
/sdk/source/FEOSPOSIXEMU/*
!/sdk/source/FEOSPOSIXEMU/Makefile
/sdk/source/FEOSMATH/*
!/sdk/source/FEOSMATH/Makefile
/sdk/source/FEOSDSAPI/*
!/sdk/source/FEOSDSAPI/Makefile
/sdk/source/FEOSDSSPR/*
!/sdk/source/FEOSDSSPR/Makefile
/sdk/source/FEOSDSBG/*
!/sdk/source/FEOSDSBG/Makefile
/sdk/source/FEOSARM7/*
!/sdk/source/FEOSARM7/Makefile
/sdk/source7/FEOS7/*
!/sdk/source7/FEOS7/Makefile
/sdk/userlib/*
!/sdk/userlib/Makefile
!/sdk/userlib/README.txt
!/sdk/userlib/feoswifi/
!/sdk/userlib/feos3d/
!/sdk/userlib/multifeos/
!/sdk/userlib/libfar/
!/sdk/userlib/libitcm/
*.exe
*.nds
*.elf
*.dbg
*.fx2
*.a
*.ppg
*.pnproj
*.pnps
*~
